/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
   
}
.form {
    margin: 3em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
header {
    background: linear-gradient(to right, #8b8b8b00, #defaff00);
    color: #000000;
    text-align: center;
    padding: 2px ;
    margin-top: 2em;
    
}

/* Form container styling */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Input field styling */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Includes padding and border in element's total width and height */
}

/* Button styling */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Placeholder styling */
input::placeholder {
    color: #aaa;
    font-style: italic;
}
