body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #444;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.faq {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.faq h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    color: #337ab7;
}

.faq dl {
    margin-bottom: 20px;
}

.faq dt {
    font-weight: bold;
    margin-bottom: 10px;
    color: #666;
}

.faq dd {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.faq dd:last-child {
    border-bottom: none;
}

.faq a {
    text-decoration: none;
    color: #337ab7;
}

.faq a:hover {
    color: #23527c;
}

.faq-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #337ab7;
}

.faq-icon:hover {
    color: #23527c;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
    border-top: 1px solid #444;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #337ab7;
}

footer a:hover {
    color: #23527c;
}