body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: large;
}


section {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: xx-large;
    background-image: url('pics/tech bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.services-container {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  .services-container img {
    margin: 20px auto;
  }
  
  .services-container h2, .services-container p {
    text-align: center;
    margin-bottom: 20px;
  }